<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ms-embedchat-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/387ebd03-ca73-4c5b-a340-34cba439d2e3/resourcegroups/ms-embedded-chat-rg/providers/Microsoft.Web/sites/ms-embedchat-api</ResourceId>
    <UserName>$ms-embedchat-api</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://ms-embedchat-api.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>