{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet"
  },
  "Host": { "CORS": "*" },
  "AppSettings": {
    "StorageConnectionString": "",
    "AcsEndpoint": "",
    "AzureTableName": "Entities",
    "TenantId": ""
  }
}